/*
 * Author: Jason Allen
 *
 * Date: July 11, 2017
 *
 * Purpose: .css file for the whole site
 */

* {
    font-family: Bookman;

    text-align: center;

    color: rgb(230, 230, 230);

}

/* Style for tags */
h1 {
    font-size: 42px;
    background-color: rgba(0, 221, 48, 0.603);
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 26px;
    margin-left: 250px;
    margin-right: 250px;

    border-radius: 25px;
}

div {
  margin-left: 80px;
  margin-right: 150px;

}

/* Style for classes */
.tabs {
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-evenly;

    width: max-content;
    height: 40px;
    overflow: hidden;
    border: 2px solid;
    background-color: #0070f08a;
    color: #ff00ea;
    margin: 10px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 32px;
}

#caption {
    font-size: 20px;
}

#background-caption *{
    font-size: 15px;
    position: absolute;
    right: 0px;
    bottom: 5px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px;
}

