* {
    font-family: Bookman;

    text-align: center;

    background-color: rgb(255, 173, 86);
}

h1, h3 {
    color: rgb(89, 89, 89);
}

h1 {
    font-size: 42px;
    background-color: rgb(139, 224, 249);
}

h3{
    font-size: 18px;
}

ul {
  float: left;
   width: 100%;
   padding: 0;
   margin: 0;
   list-style-type: none;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a:hover {background-color: #ff3300;}

li {display: inline;}
